@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="tab">
    <a href="#home" class="tablinks">Home</a>
    <a href="https://arezoo-yousefi.github.io/" class="tablinks" target="_blank">About me</a>
    
</div>
<br />
<hr />
<br />
<br />
<div class="text-center" id="home">
    <h1 class="display-4" id="shaddow">ADELE</h1>

    <p>My favorite singer is <span class="adele" onmouseover="redColor()" onmouseout="blackColor()">Addel</span> and this song named 
    <span class="adele" onmouseover="redColor()" onmouseout="blackColor()">Hello </span>is really beautiful</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/YQHsXMglC9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
</div>
